@import url('https://fonts.googleapis.com/css2?family=Rubik+Maze&family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Rubik+Maze&family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Rock+Salt&family=Rubik+Maze&family=Square+Peg&display=swap');

.nav {
  display: flex;
  justify-content: space-between;
  height: 55px;
  align-items: center;
  opacity: .9;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.207);
  background-color: rgb(255, 255, 255);
  /* position: fixed; */
  width: 100%;
  top: 0;
  z-index: 1000;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 480px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav ul li {
  width: 16%;
  text-align: center;
}

.site-title {
  margin-left: 50px;
  font-size: 30px;
  /* font-family: 'Rubik Maze', cursive; ; */
  /* font-family: 'Noto Sans JP', sans-serif; */
  font-weight: 550;
  font-family: 'Rock Salt', cursive;
  text-decoration: none;
  color: rgb(0, 50, 50);
}

.nav-link {
  text-decoration: none;
  color: rgb(0, 50, 50);
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 600;
}


.login-welcome {
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: 'Noto Sans JP', sans-serif;
  padding-left: 60px;
}


@media (max-width:650px) { 

  .site-title{
    width: 40px;
  }
  
  .nav{
    height:250px
  }
  
  .nav ul {
    /* border: 1px solid red; */
    flex-direction: column;
    margin-top: 3vh;
    margin-right: 2rem;
    width: 100px;
    gap: 1rem;
  }

}